doctype html
html
  head
    // Title of Page
    title Exam Question Database
    // Meta Tags
    meta(charset='UTF-8')
    meta(name='description', content='Find existing exam questions easily')
    meta(name='author', content='Sam Fairs, Chen Liu, Joshua Milambo, Lachlan Bunney, Michael Bleakley, Minrui Lu')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Physics, Exam, Question, Database, Latex')
    // Links/References
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,400i,700', rel='stylesheet')
  // Body of Page
  body
    // Navbar
    nav.navbar
      .navTitle
        a(href='/index') Exam Question Database
        form.navSearch(method='get', action='result', enctype='multipart/form-data')
          input#navSearch(type='text', placeholder="Light, Electricity, Gauss's Law", name='keywords')
          button(type='navSubmit')
            img(width='40px', height='40px', src='images/search_icon.png')
      ul.navMenu
        li
          a(href='/') Logout
        li
          a(href='/upload') Upload Question
        li
          a(href='/test') View Test
        li
          a(href='/testhistory') Update Result
    .main
      
        h1 Update Result
        .result.one.header
          .split5
            h3 #
          .split2
            h3 Brief Description
          .split
            h3 Preview
          .split3
            h3 Use Notes
          .split5
            h3 Correct
          .split5
            h3 Total
        //Iteration begins
        -i =0;
        -len = results.length;
        while i<len
          if(i%2==0)
            .result.two.header
              .split5 
                .entry_font #{i+1}
              .split2
                .entry_font #{results[i][0]}
              .split
                p.
                  <a href=#{preview_path}}>Preview</a>
              .split3
                input(type='text', value='')
              .split5
                input(type='text', value='')
              .split5
                input(type='text', value='')
          else 
            .result.one.header
              .split5 
                .entry_font #{i+1}
              .split2
                .entry_font #{results[i][0]}
              .split
                p.
                  <a href=#{results[i][1]}>Preview</a>
              .split3
                input(type='text', value='')
              .split5
                input(type='text', value='')
              .split5
                input(type='text', value='')
          -i=i+1;
          
        .result.one.header
          button(type='submit', class='download', onclick='/') Update
    // Footer
    footer.footer
      p Example filler text for the footer of the page.
